---
services:
  mongodb:
    image: mongo
    restart: on-failure
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password # pragma: allowlist secret
      MONGO_INITDB_DATABASE: auth
  # mongo-express:
  #   image: mongo-express
  #   restart: always
  #   ports:
  #     - "8081:8081"
  #   environment:
  #     ME_CONFIG_MONGODB_ADMINUSERNAME: admin
  #     ME_CONFIG_MONGODB_ADMINPASSWORD: password # pragma: allowlist secret
  #     ME_CONFIG_MONGODB_URL: mongodb://admin:password@mongodb:27017/
  #     ME_CONFIG_BASICAUTH: false
  fakesmtp:
    image: hatamiarash7/fake-smtp:latest
    ports:
      - "25:25"
    volumes:
      - /tmp/fakemail:/output
  wekan:
    image: quay.io/wekan/wekan:v7.45
    container_name: wekan-app
    restart: always
    ports:
      - "8080:8080"
    environment:
      - MONGO_URL=mongodb://admin:password@mongodb:27017 # pragma: allowlist secret
      - ROOT_URL=http://localhost:8080
      - WITH_API=true
      - MAIL_URL=smtp://fakesmtp:25
      - MAIL_FROM=noreply@domain.com
    depends_on:
      - "mongodb"
      - "fakesmtp"
